[Desktop Entry]
Encoding=UTF-8
Name=Link to https://www.google.com/images/branding/product/ico/googleg_lodp.ico
Type=Link
URL=https://www.google.com/images/branding/product/ico/googleg_lodp.ico
Icon=image-x-icon
Name[en_US]=googleIcon.ico
